{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAI,Claude, Gemini,... Chat",
    "description": "This API provides access to all models and features of OpenAI's chat completion service.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bieapi.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "description": "This endpoint generates a chat completion response from OpenAI's models. You can use for Claude AI, GPT-4, and other models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stream": {
                    "type": "boolean",
                    "description": "Whether to use stream mode (simulates typing effect)."
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Role of the message sender (e.g., `user`, `assistant`)."
                        },
                        "content": {
                          "type": "string",
                          "description": "Content of the message."
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    },
                    "description": "Context of the conversation."
                  },
                  "model": {
                    "type": "string",
                    "description": "The model to use (e.g., `gpt-4o-mini`)."
                  }
                },
                "required": [
                  "stream",
                  "messages",
                  "model"
                ]
              },
              "examples": {
                "basicExample": {
                  "summary": "Basic Request",
                  "value": {
                    "model": "claude-3-5-sonnet-20240620",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hi"
                      }
                    ],
                    "stream": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID of the response."
                    },
                    "object": {
                      "type": "string",
                      "description": "Type of the response object."
                    },
                    "created": {
                      "type": "integer",
                      "description": "Timestamp of the response creation."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "Role of the message sender."
                              },
                              "content": {
                                "type": "string",
                                "description": "Content of the generated message."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Create an image generation",
        "description": "This endpoint generates an image from OpenAI's models.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use (e.g., `dall-e-2-mini`)."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt for the image generation."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "basicExample": {
                  "summary": "Basic Request",
                  "value": {
                    "model": "dall-e-3",
                    "prompt": "A painting of a cat."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID of the response."
                    },
                    "object": {
                      "type": "string",
                      "description": "Type of the response object."
                    },
                    "created": {
                      "type": "integer",
                      "description": "Timestamp of the response creation."
                    },
                    "image": {
                      "type": "string",
                      "description": "URL of the generated image."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}